---
import { buttonVariants } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Page Not Found" desc="404 error, page not found">
  <main class="-mt-14 flex min-h-dvh flex-col items-start justify-center gap-4">
    <h1 class="text-5xl font-normal tracking-tighter">
      <span class="font-mono font-semibold tracking-normal">404|</span><wbr />Page Not Found
    </h1>
    <a class={buttonVariants({ variant: "outline" })} href="/">Go Back Home</a>
  </main>
</Layout>
