---
import { Button, buttonVariants } from '@/components/ui/button';
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Page Not Found">
  <main class="flex h-full min-h-dvh flex-col items-center justify-center gap-4">
    <h1 class="text-4xl font-light">
      <code class="font-medium">404 </code>| Page Not Found
    </h1>
    <a class={buttonVariants({ variant: 'outline' })} href="/">Go Back Home</a>
  </main>
</Layout>
