---
import { formatDate } from "../utils";
import type { Post } from "../utils/sanity";
interface Props {
	post: Post;
}

const { post } = Astro.props;
---

<a
	class="flex flex-col gap-2 rounded border p-2 duration-200 hover:bg-neutral-400/5 dark:border-neutral-700 dark:hover:bg-white/10 md:flex-row md:gap-4"
	href={`/post/${post.slug.current}`}
>
	<div class="flex flex-col gap-2 md:gap-4">
		<p class="text-xs font-light tracking-tight xs:text-sm">
			{formatDate(post._createdAt)}
		</p>
		<h3 class="text-2xl font-semibold tracking-tighter xs:text-3xl md:text-4xl">
			{post.title}
		</h3>
		<p class="text-base font-normal tracking-tight md:text-lg">{post.excerpt}</p>
	</div>
</a>
