<header class="z-50 w-full py-2 pb-4">
  <nav>
    <a
      href="/"
      class="group relative text-2xl font-semibold tracking-tighter text-neutral-700 duration-300 ease-out hover:text-black">
      Rafli Malik
    </a>
  </nav>
</header>
