---
import { DarkMode } from "@/components/DarkModeToggle";
---

<header class="z-50 flex w-full items-center justify-between py-2 pb-4">
	<nav>
		<a
			href="/"
			class="group relative text-2xl font-semibold tracking-tighter text-neutral-700 duration-300 ease-out hover:text-black dark:text-neutral-300 hover:dark:text-white"
		>
			Rafli Malik
		</a>
	</nav>
	<DarkMode client:load />
</header>
