---
import { Construction } from "lucide-react";
---

<div class="-mt-14 flex h-dvh w-full flex-col items-center justify-center gap-4 xs:flex-row">
	<Construction size={30} className="min-w-fit" />
	<h1 class="text-center text-3xl font-normal">good things are coming</h1>
	<Construction size={30} className="hidden min-w-fit xs:block" />
</div>
