---
import { Construction } from "lucide-react";
---

<div class="-mt-14 flex h-dvh w-full flex-row items-center justify-center gap-2">
  <Construction size={30} />
  <h1 class="text-center text-3xl font-normal">good things are coming</h1>
  <Construction size={30} />
</div>
