---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/inter";
import "@fontsource/geist-mono";
import "@fontsource-variable/lora";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={desc} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#c084fc" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#581c87" />
    <meta property="og:title" content="Link Book" />
    <meta property="og:description" content="Rafli Malik personal blog where he shares his thoughts and experiences." />
    <meta property="og:url" content="https://www.raflimalik.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Rafli Malik" />
    <ViewTransitions />
  </head>
  <body
    class="min-w-dvw flex min-h-dvh flex-col items-center justify-between bg-purple-50/40 antialiased dark:bg-neutral-950">
    <div class="w-full px-4 xs:px-6 sm:px-8 md:px-[5%]">
      <Header />
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>

<script is:inline>
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (e) => {
    if (e.matches && !localStorage.theme) {
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.className = "dark";
        document.documentElement.style.colorScheme = "dark";
      } else {
        document.documentElement.classList.remove("dark");
        document.documentElement.style.colorScheme = "light";
      }
    }
  });

  window.matchMedia("(prefers-color-scheme: light)").addEventListener("change", (e) => {
    if (e.matches && !localStorage.theme) {
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.className = "dark";
        document.documentElement.style.colorScheme = "dark";
      } else {
        document.documentElement.classList.remove("dark");
        document.documentElement.style.colorScheme = "light";
      }
    }
  });
</script>
